/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Mobile */

@media (max-width: 600px) {
   

}

/* Desktop */

@media (min-width: 600px) {
   
    .title {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 8rem;
        gap: 40px;
    }
        
    h1 {
        color: rgb(255, 255, 255);
        font-size: 28px;
    }

    h2 {
        color: rgb(255, 255, 255);
        font-size: 24px;

    }

    .inhalt {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }
    .contact {
        height: 35px;
        width: 100px;
        background-color: aliceblue;
        border: 1px solid rgb(233, 233, 255);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

    }
    .contact a{
        font-size: 16px;
        color: black;

    }

    .contact:hover {
        background-color: rgb(39, 124, 204);
        border: 1px solid rgb(173, 217, 255);
        border-radius: 5px;
        
    }


}