/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Mobile */

@media (max-width: 600px) {
   

}

/* Desktop */

@media (min-width: 600px) {
   
    .title{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
        

    .logo {

        display: flex;
        justify-content: flex-start;
    }
    h1 {
        color: rgb(255, 255, 255);
        font-size: 16px;
        margin-top: 2rem;
        margin-left: 5%;
    }

    h2 {
        color: rgb(255, 255, 255);
        font-size: 24px;
        margin-top: 2rem;
        gap: 40px;

    }

    .inhalt {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 4rem;
        gap: 2rem;
    }

    .service {
        display: flex;
        justify-content: center;
      
    }

    .services {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        gap: 6rem;
    }

    .contact {
        height: 35px;
        width: 100px;
        background-color: #80aaff;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

    }
    .contact a{
        font-size: 16px;
        color: rgb(230, 230, 230);

    }

    .contact:hover {
        background-color:#4d94ff;
        border-radius: 20px;
        
    }
    .contact:hover a {
        font-size: 16px;
        color: rgb(230, 230, 230);

    }

    p {
        margin-top: 7rem;
    }
}