/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#1e3cff, #4d94ff, #80aaff);
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

a {
text-decoration: none;
color: rgb(243, 243, 243);
font-size: 16px;

}

a:hover{
    font-size: 18px;
    color: rgb(211, 211, 211);
}

li {
    list-style: none;
    
}

/* Mobile */

@media (max-width: 600px) {
    .nav {
        display: none;
    }

    /* Burger Menu */
.mobileNav {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#1e3cff, #4d94ff, #80aaff);
    z-index: 1000;
}
    .burger-icon, .closeIcon {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-right: 5%;
        margin-top: 5%;
        z-index: 100;
    }
    .bar {
        height: 3px;
        width: 25px;
        background-color: white;
        margin: 3px;
    }
    .closeIcon {
  
      font-size: 26px;
      color: white;
  
        
    }

    .navMobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        margin-top: 140px;
    }

}

/* Desktop */

@media (min-width: 600px) {

    
    .mobileNav {
        display: none;
    }

    .nav {
      
        width: 100%;
        height: 120px;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    .navDesktop {

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 40px;
        margin-right: 5%;
        margin-top: -1.2rem;
    }


}